@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: sans-serif;
  -webkit-tap-highlight-color: transparent;

  font-family: "Space Grotesk", sans-serif;
}

body {
  display: grid;
  height: 90dvh;
  // padding-bottom: 2rem;
  grid-template-rows: 1fr 2fr;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  text-align: center;
  span {
    opacity: 0.4;
  }
}

gameButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
  height: 24rem;

  padding: 0 3rem;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;

    color: #000;
    text-decoration: none;

    p {
      width: 75%;
      font-size: 0.85rem;
      text-align: center;
      opacity: 0.5;
      font-weight: 500;
    }

    button {
      animation: breathingScale 1s;
      width: 100%;
      height: 10rem;
      padding: 1rem 2rem;
      font-size: 1rem;
      border: none;
      border-radius: 15px;
      cursor: pointer;

      img {
        width: 80%;
        height: 80%;
        object-fit: scale-down;
        border-radius: 15px;
      }
    }
  }
}

.btn-game-choice {
  background-color: rgb(235, 223, 239);
  // box-shadow: 0 0 20px 10px rgba(169, 128, 182, 0.2);
}

.btn-game-flashcards {
  background-color: rgb(249, 227, 226);
  // box-shadow: 0 0 20px 10px rgba(182, 128, 128, 0.2);
  animation-delay: 0.5s;
}

.btn-game-gapfill {
  background-color: rgb(253, 249, 201);
  // box-shadow: 0 0 30px 10px rgba(182, 182, 128, 0.2);
  animation-delay: 1s;
}

.btn-game-audio {
  background-color: rgb(217, 233, 253);
  // box-shadow: 0 0 20px 10px rgba(128, 182, 182, 0.2);
  animation-delay: 1.5s;
}

.txt-game-choice {
  color: #3f1a4b;
}

.txt-game-flashcards {
  color: #401b2b;
}

.txt-game-gapfill {
  color: #7f693f;
}

.txt-game-audio {
  color: #181c44;
}

@keyframes breathingScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.045);
  }
  100% {
    transform: scale(1);
  }
}
