* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: grid;
  height: 80dvh;
  padding-bottom: 2rem;
  grid-template-rows: 1fr 2fr;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  text-align: center;
  span {
    opacity: 0.4;
  }
}

gameButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
  height: 24rem;

  padding: 0 3rem;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;

    color: #000;
    text-decoration: none;

    p {
      width: 75%;
      text-align: center;
      opacity: 0.5;
      font-weight: 500;
    }

    button {
      width: 100%;
      height: 10rem;
      padding: 1rem 2rem;
      font-size: 1rem;
      border: none;
      border-radius: 15px;
      cursor: pointer;

      img {
        width: 80%;
        height: 80%;
        object-fit: scale-down;
        border-radius: 15px;
      }
    }
  }
}

.btn-game-choice {
  background-color: #ebdfef;
}

.btn-game-flashcards {
  background-color: #f9e3e2;
}

.btn-game-gapfill {
  background-color: #fdf9c9;
}

.btn-game-audio {
  background-color: #d9e9fd;
}

.txt-game-choice {
  color: #3f1a4b;
}

.txt-game-flashcards {
  color: #401b2b;
}

.txt-game-gapfill {
  color: #7f693f;
}

.txt-game-audio {
  color: #181c44;
}
