* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: grid;
  place-items: center;
  height: 100dvh;
  grid-template-rows: 1fr 1fr;
}

header {
  padding: 0 4rem;
  text-align: center;
  span {
    opacity: 0.4;
  }
}

gameButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  a {
    button {
      width: 100%;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
